/* Reina Lalibertebaron*/
/*CSS personal site */
html, body {
  height: auto;
}

body {
  background-color: #cccccc;
  background-image:url("../img/swirl_pattern.png");
}

.container-fluid {
  background-color: #ffffff;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 10%;
  width: 80%;
}

.container-fluid .row .col .btn {
  background-color: red;
}

.container-fluid .row .splash-text {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 72px;
  line-height: 65px;
  padding-top: 10%;
  position: absolute;
  text-shadow: 1px 1px 1px #ccc;
  -webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
	transition: transform 1.4s ease-in, background 0.3s ease-in;
}

.container-fluid .row .splash-left {
  border-right: 5px solid black;
  text-align: right;
}

.container-fluid .row .splash-right {
  border-left: 5px solid black;
}

.container-fluid .row .resume-header {
  text-align: center;
}

.container-fluid .row .skills {
  background-color: #e6e6e6;
}

/*explode*/
.container-fluid .explode-btn-row {
  align-items: center;
  margin-top: 15%;
}
/*explode*/
.container-fluid .row .explode-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
}

h1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

h2 {
  font-size: 44px;
  padding-top: 40px;
}

h3 {
  padding-top: 40px;
}

img {
  border: 3px solid #000;
  vertical-align: middle;
}

/* Nav bar customization - breaks collapse menu*/
/*not implemented*/

.navbar-custom {
  background-color: #333333;
}

.navbar-custom .nav-item .navbar-btn{
  background-color: #333333;
  color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
  margin-left: 10%;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 22px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background: #898989;
    color: black; /*white*/
}

p {
 font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
}
