/* Reina Lalibertebaron*/
/*CSS personal site */
body {
  background-image:url("../img/swirl_pattern.png");
  background-color: #cccccc;
}

#expload-btn-row {
  margin-top: 15%;
}

#expload-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
}

h1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

/* Nav bar customization - breaks collapse menu*/
/*not implemented*/
.navbar-custom {
  background-color: aqua;
}

.navbar-custom .nav-item .navbar-btn{
  background-color: aqua;
  color: white;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: green;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black; /*white*/
}



p {
 font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
}

#splash-text {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 72px;
  line-height: 65px;
  margin-top: 15%;
  text-shadow: 1px 1px 1px #ccc;
}

#splash-text-left {
  border-right: 5px solid black;
  text-align: right;
}

#splash-text-right {
  border-left: 5px solid black;
}
