/* Reina Lalibertebaron*/
/*CSS personal site */

:root {
  --background-img: url("../img/swirl_pattern.png");
  --background-color: #ffffff;
  --navbar-bg-color: #333333;
  --navbar-text-color: #ffffff;
  --boarder-color: #000000;
  --text-color: #000000;
}

[data-theme="dark"]{
  --background-img: url("../img/dark_swirl.jpg");
  --background-color: #333333;
  --navbar-bg-color: #0f0d0d;
  --navbar-text-color: #D3D3D3;
  --boarder-color: #D3D3D3;
  --text-color: #D3D3D3;
}

/*===General===*/
html, body {
  height: auto;
}

body {
  background-color: #cccccc;
  background-image: var(--background-img);
}
/*=====SWITCH=====*/

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.switch-row{
  justify-content: flex-end;
}

.switch-text{
  color: #00000;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*=====page content=====*/

.container-fluid {
  background-color: var(--background-color);
  border-bottom: 2px solid var(--boarder-color);
  border-left: 2px solid var(--boarder-color);
  border-right: 2px solid var(--boarder-color);
  position: relative;
  margin-left: 10%;
  min-width: 500px;
  padding-bottom: 100px;
  width: 80%;
}

/*
.container-fluid .row .col .btn {
  background-color: #FF0000;
}
*/

.container-fluid .row .splash-text {
  cursor: pointer;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 72px;
  line-height: 65px;
}

.container-fluid .row .splash-left {
  border-right: 5px solid var(--boarder-color);
  text-align: right;
  color: var(--text-color);
}

.container-fluid .row .splash-right {
  border-left: 5px solid var(--boarder-color);
  color: var(--text-color);
}

.container-fluid .row .resume-header {
  text-align: center;
}

.container-fluid .row .skills {
  background-color: #e6e6e6;
}

/*explode*/
.container-fluid .explode-btn-row {
  align-items: center;
  margin-top: 15%;
  padding-bottom: 50px;
}

.container-fluid .row .explode-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
}

h1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
  color: var(--text-color);
}

h2 {
  font-size: 44px;
  padding-top: 40px;
  color:var(--text-color);
}

h3 {
  padding-top: 40px;
  color:var(--text-color);
}

img {
  border: 3px solid #000;
  vertical-align: middle;
}

p {
 font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
 color: var(--text-color);
}

.splash-text {
  padding-top: 10%;
}

/* =====Nav bar customization=====*/
.navbar-custom {
  background-color: var(--navbar-bg-color);
}

.navbar-custom .nav-item .navbar-btn{
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
}

/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--navbar-text-color);
  margin-left: 10%;
}
/* change the link color */

.navbar-custom .navbar-nav .nav-link {
  color: var(--navbar-text-color);
  font-size: 22px;
}

.navbar-custom .navbar-nav .contact-item .nav-link {
  color: #FF0000;/* Red Contact Item*/
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background: #898989;
    color: #000000;
}
